body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header-bg {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: #ddd;
    text-align: left;
    padding: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    position: relative;
    width: 100%;
    height: 300px;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.school-name {
    margin: 0;
    font-size: 2em;
    margin-left: 170px;
}

main {
    padding: 20px;
}

#about {
    margin-bottom: 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.contact-button {
    background-color: #3b5998; /* Facebook blue */
    color: white;
    padding: 12px 25px; /* Adjust padding for size */
    text-decoration: none;
    border-radius: 30px; /* Rounded corners */
    display: inline-block;
    margin-top: 20px;
    font-size: 16px; /* Adjust font size */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.contact-button:hover {
    background-color: #2d4373; /* Darker blue on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}
