body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2; /* Ensure logo is on top of everything */
}

.logo-container img {
    max-width: 150px;
    height: auto;
}

.header-bg {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: #ddd;
    text-align: left;
    padding: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 20px; /* Add margin to push header down */
}

header {
    display: flex;
    align-items: center;
    width: 100%;
}

.school-name {
    margin: 0;
    font-size: 2em;
    margin-left: 0; /* Remove margin */
}

main {
    padding: 20px;
}

#about {
    margin-bottom: 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
